<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>Nombre:</strong>{{ contactDto.name }} </p>
    <p><strong>Farmacia:</strong>{{ contactDto.business }} </p>
    <p><strong>Telefono:</strong>{{ contactDto.phone }} </p>
    <p><strong>Correo:</strong>{{ contactDto.email }} </p>
    <p><strong>Mensaje:</strong>{{ contactDto.message }} </p>
</body>
</html>